.main_body {
    background-color: #1F2937;
}
.top_header {
    width: 1280px;
    margin: auto;
    padding: 30px;
}

.topnav {
    
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
}
a {
    color: #F9FAF8;
    text-decoration: none;
}

.links {
    margin: auto;
}

.ul_ {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.hero {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero_left {
    width: 50%;
}

.hero_left h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0px auto;
}

.hero_left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px auto;
}

.hero_left button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px 20px;
    border: 0px;
    border-radius: 3px;
}

.hero_right {
    background-color: #d9d9d9;
    width: 50%;
    padding: 70px 0;
    margin: auto;
    text-align: center;
}

.main_body_2 {
    margin: 60px;
}
.main_body_2 h2 {
    text-align: center;
    color: #1F2937;
}

.box_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box1 {
    width: 120px;
    height: auto;
}

.item {
    width: 30px;
    height: auto;
    border: 1px solid black;
    padding: 40px;
}

.item_description {
    font-size: 12px;
    text-align: center;
}

.main_body_3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.box_container_3 {
    margin: 60px;
    width: 800px;
    height: auto;
}

.quote {
    font-size: 36px;
    font-style: italic;

    color: #1f2937;
}
.author {
    text-align: right;
    font-weight: bold;
}

.main_body_4 {
    display: flex;
    justify-content: center;
}

.box_container_4 {
    background-color: #3882f6;
    color: white;
    margin: 60px;
    padding: 40px;
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
}

.box_container_4 h3 {
    margin: 5px auto;
}

.box_container_4 p {
    margin: 0px auto;
}

.box_container_4 button {
    border: 1px solid white;
    color: white;
    background-color: #3882f6;
    padding: 6px 12px;
}

.footer { 
    background-color: #1F2937;
}

.footer p {
    color: #d9d9d9;
    font-size: 14px;
    text-align: center;
    padding: 20px;
}